body {
	padding: 0px;
}

.z-window-content {
	padding: 0px;
}

.z-tree {
	border : 0;
}

.z-west-splitter {
	border-left : 1px solid #000;
	border-right : 1px solid #000;
}


.z-tabbox-bottom>.z-tabs .z-tabs-content {
    border-top: 0;
    border-bottom: 0;
}

.z-tabbox-bottom>.z-tabpanels>.z-tabpanel {
    border: 0;
}

.z-treerow-radio{
	
	
}

.z-tabbox-detalle .z-tabs-content{
	
	background-color: #FFFFFF;
	border-top: 0;
}
.z-tabbox-detalle .z-tabpanel{
	border: 1px solid #cfcfcf;
	border-top: 0;
}
.z-tabbox-detalle .z-tab .z-tab-selected {
 border-width: 1px 1px 0 1px;
}

.z-tabbox-detalle .z-tab:first-child.z-tab-selected{
	border-width: 1px 1px 0 1px;
} 

.z-tabbox-detalle .z-tab {
	border-bottom-color: rgb(207, 207, 207);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-collapse: separate;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(207, 207, 207);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(207, 207, 207);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(207, 207, 207);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
}

.columna-arbol tbody tr td table {
	width: 100%;
}

.columna-boton {
	padding: 0px;
	width: 35px;
}

.columna-boton .z-listcell-content{
	padding: 0px;	
}

.check-sianulado{
	position: absolute;
	right: 0px;
	top: 12px;
	color: #000000;
}

.registro-anulado .z-listcell-content{
	font-style: italic;
	color: gray;
}

.grupoInterno>.z-groupbox-header {
	width : 0px;
	height: 10px;
}

/*estilos radio button*/
.z-treerow-checkable{
	background: #FFFFFF;
}

.z-treecol-content{
	background: #FFFFFF;	
}

.menuapp{
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	
}

a.menuapp:hover{
background: none;
border: 1px solid;
border-color: #FFFFFF; 
}

.submenu>.z-treecell>.z-treecell-content>.z-treecell-text {
	font-size: 14px;
	font-weight: bold;
}

.z-listbox-body>table {
	border-bottom: 1px solid;
}


.menuBar{
	border: 0;
	padding: 0;
	margin: 0;
}


.toolUsuario {
	
	background-color: #3fb618 !important;	
	height: 100%;
	border : none;
	float: right;
}



.toolUsuario>.z-toolbar-content>.z-toolbarbutton>.z-toolbarbutton-content{
	color: #FFFFFF !important;
    text-shadow: 0 0px #fff;
    font-style: normal;
}

.z-toolbar{
	background: #211915;
}


.menuTablaDato{
	background: #FFFFFF;
	border : none;
}

.menuSecundario{
	background: #FFFFFF !important;
	border : none;
}

.menuDesplegable{
		background: #FFFFFF;
}
.menuDesplegable:HOVER{
		background: #FFFFFF;
}

.contenedorItems{
			background: #FFFFFF;
}

.menuDesplegable .z-menu .z-menu-hover {
	background: #FFFFFF;
}

.areaTrabajo {
	margin-left: 5px;
}


.encabezadoPrincipal {
	background-color: #3fb618;	
}


/*tabs*/
.z-tabs{
	background: #FFFFFF;
}
